<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/v1/" class="nav-link active" aria-current="page">Home</a></li>
<!--                <li class="nav-item"><a href="/v1/questions" class="nav-link">Question List</a></li>-->
<!--                <li class="nav-item"><a href="/v1/posts" class="nav-link">Posts</a></li>-->
                <li class="nav-item"><a href="/v1/blog" class="nav-link">Blog</a></li>
<!--                <li class="nav-item"><a href="/v1/faqs" class="nav-link">FAQs</a></li>-->
                <li class="nav-item"><a href="/v1/about" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>
</div>